rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // User can read/write their own projects
    match /projects/{projectId} {
      allow create: if request.auth != null;
      allow read, update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }

    match /charts/{chartId} {
        allow create: if request.auth != null;
        allow read, update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }

    // Fix: Allow user preferences (users collection)
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /export_events/{eventId} {
        allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
        allow read: if request.auth != null && resource.data.userId == request.auth.uid;
    }
  }
}
